.container {
  text-align: center;
  margin-top: 30px;
}

.statusAndFormContainer {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .statusAndFormContainer {
    flex-direction: column;
  }
}
